@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1 Almacin Dr<br />
    Barrie, ON<br />
    <abbr title="Phone">P:</abbr>
    405.992.9932
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@ast.ca">support@ast.ca</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@ast.ca">marketing@ast.ca</a>
</address>