@{
    ViewBag.Title = "Welcome to Almacin School of Technology";
}

<div class="jumbotron">
    <h1>Success</h1>
    <p class="lead">Here at Almacin School of Technology, we want you to become successful. Check the courses we are offering now!</p>
    <p><a href="/Courses" class="btn btn-primary btn-lg">Go to Courses &raquo;</a></p>
</div>